html, body, #root {
  height: 100%;
  margin: 0;
  padding: 5px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure that .App takes up at least the full height of the viewport */
}

.custom-button{
  background-color: transparent;
}

.custom-button:hover{
  background-color:lightgray;
}